body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at center, #F2F2F2, #BEBEBE);
    align-items: center;
    
}

#DadosDIV {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
    
}

#TableDIV {
    width: auto;
    height: auto;
    
}


#H1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
}

#inputId {
    margin-top: 7px;
    
}

#inputName {
    margin-top: 7px;
    margin-bottom: 5px;
    
}

#inputAge {
    margin-bottom: 5px;
    
}


#Imagem{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px black solid;
    right: 135px;
    top: 65px;
}

input {
    border: 2px solid #ccc;
    /* Adiciona uma borda de 2px com cor cinza claro */
    border-radius: 5px;
    /* Adiciona um raio de borda de 5px */
    padding: 10px;
    /* Adiciona um espaçamento interno de 10px */
    font-size: 16px;
    /* Define o tamanho da fonte como 16px */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra de caixa */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Adiciona uma transição suave */
}

input:focus {
    outline: none;
    /* Remove a borda de foco padrão */
    border-color: #6c63ff;
    /* Altera a cor da borda quando o elemento está em foco */
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.4);
    /* Altera a sombra de caixa quando o elemento está em foco */
}



button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}



table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #353740;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

